<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Futiba Club - Fullstack Academy - DevPleno</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/futiba-interno.css" rel="stylesheet">
</head>

<body>
  <header>
    <% include elements/navbar %>
  </header>

  <section class="content">
    <div class="container">
      <div class="row subtitle">
        <h2>Classificação de Grupos</h2>
      </div>
      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Grupo</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            <%if(groups.length > 0){ %>
              <% groups.forEach( group => { %>
                <tr>
                  <td scope="row">
                    <%= group.id %>
                  </td>
                  <td>
                    <%= group.name %>
                  </td>
                  <td>
                    <%= group.score %>
                  </td>
                </tr>
              <% }) %>
              <% } else{ %>
                <tr>
                  <td colspan="3">Classificação indisponível</td>
                </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <% include elements/footer %>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
</body>

</html>