<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Futiba Club - Fullstack Academy - DevPleno</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/futiba-interno.css" rel="stylesheet">
</head>

<body>
  <header>
    <% include elements/navbar %>
  </header>

  <section class="content">
    <div class="container">
      <div class="row">
        <h2 class="subtitle">Entrar</h2>
      </div>
      <div class="row">
        <div class="card col">
          <div class="card-body">
            <form method="post" action="/login">

              <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="orangeForm-email" class="form-control" required name="email">
                <label for="orangeForm-email">E-mail</label>
              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" class="form-control" required name="passwd">
                <label for="orangeForm-pass">Senha</label>
              </div>

              <% if (error) { %>
                <p>
                  <%= error %>
                </p>
              <% } %>

              <div class="text-center">
                <button class="btn btn-danger">
                  Entrar
                  <i class="fa fa-sign-in ml-1" aria-hidden="true"></i>
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% include elements/footer %>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="  text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
</body>

</html>